.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonToSetPlayers {

	margin: 10px;
}


.playersCards-setPlayers {
  margin: 100px;
  font-weight: bold;
  color: #CC99FF
}

.playersCards-playersAmount{
color: lightblue
}

.confirmGame-participate{
  color: lightsalmon
}

.confirmGame-playerName{
  color: lightgreen
}

.waitingGame-player{
  color: lightcoral;
  font-weight: bold;
}

.waitingGame-title{
color: #CC99FF
}